go 1.26.1

use (
	./services/account-service
	./services/auth-service
	./services/calendar-service
	./services/category-service
	./services/package-service
	./services/productivity-service
	./services/recipe-service
	./services/shopping-service
	./services/tracker-service
	./services/weather-service
	./services/workout-service
	./shared/go/auth
	./shared/go/dashboard
	./shared/go/database
	./shared/go/events
	./shared/go/http
	./shared/go/kafka
	./shared/go/logging
	./shared/go/model
	./shared/go/retention
	./shared/go/server
	./shared/go/tenant
	./shared/go/testing
)
